<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.bennir.dvbviewerremote">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".DVBRemoteApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name="de.bennir.dvbviewerremote.ui.NsdActivity"
            android:label="DVBViewer Remote">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>
        </activity>


        <activity
            android:name=".ui.ControllerActivity"
            android:label="Controller" >
        </activity>


    </application>

</manifest>
